﻿<html>
<head>
    <link href="~/css/MvcGrid/mvc-grid.css" rel="stylesheet">
</head>
<body>
    <h3>User Products</h3>
    <div id="upGrid">
        @Html.AjaxGrid(Url.Action("UserProductGrid"), new { id = "userproduct-grid" })
    </div>
        <script src="~/js/JQuery/jquery-3.3.1.js"></script>
        <script src="~/js/MvcGrid/mvc-grid.js"></script>
        <script>
            $('.mvc-grid').mvcgrid();

            // Reload grid every 10s
            var reloadTimer = setInterval(reloadGrid, 10000);

            function reloadGrid() {
                console.log("Refresh Grid");
                $('.mvc-grid').mvcgrid('reload');
            };
        </script>
</body>
</html>